docker {
  enabled = false
}

params {
  cache_dir = "path/to/singularity_cache_dir"
  common_dir_imgs = "path/to/common_dir_for_singularity_imgs"
  name = "prefix_name_for_output_files"
  host_ref = "/path/to/the/host_reference_genome.fasta"
  basecalled = "/path/to/the/basecalled_reads.fastq (or fastq.gz)"
  symbiont_target_ref = "/path/to/the/symbiont_target_genome.fasta"
  r1 = "/path/to/reads_illumina_paired1.fastq.gz"
  r2 = "/path/to/reads_illumina_paired2.fastq.gz"
  stats_py = "path/to/reads_stats_script.py"
  host_filt_py = "path/to/file/for/host_genome_reads_filtration.py"
  contig_sel_py = "path/to/file/for/contig_selection_of_symbiont.py"
  rename_sel_py = "path/to/file/for/raname_contigs_from_pilon.py"
  fasta_stats_py = "path/to/assembly_fasta_stats_script.py"
  output_fastqc = "fastQC"
  output_stats = "stats"
  output_minimap2 = "minimap2_mapping"
  output_q21 = "q_filtered"
  output_hist_filt = "host_filtered"
  output_flye = "flye_assembly"
  output_medaka = "medaka_consensus"
  output_blastn = "blastn_consensus"
  output_blast_contig_selection = "blast_contig_selection"
  output_pilon = "pilon"

}


// say to nextflow to execute the images without specifying it in the command line
singularity {
  enabled = true
  autoMounts = true
  cacheDir = params.cache_dir
}

trace {
  enabled = true
  fields = "task_id, native_id, hash, process, status, container, submit, duration"
}


process {

  executor = "sge"
  penv = "smp"
  queue = "global.q"

  withName: "basecalled_qcheck" {
    container = "file:///${params.common_dir_imgs}fastQC.simg"
    cpus = 6
    clusterOptions = "-S /bin/bash -cwd -l mf=8G"
    publishDir = [
    [path: params.output_fastqc, mode: "copy"]
    ]
  }

  withName: "illumina_qcheck" {
    container = "file:///${params.common_dir_imgs}fastQC.simg"
    cpus = 6
    clusterOptions = "-S /bin/bash -cwd -l mf=8G"
    publishDir = [
    [path: params.output_fastqc, mode: "copy"]
    ]
  }

  withName: "basecalled_stats" {
    container = "file:///${params.common_dir_imgs}biopy_pysam_pandas.simg"
    cpus = 6
    clusterOptions = "-S /bin/bash -cwd -l mf=8G"
    publishDir = [
    [path: params.output_stats, mode: "copy"]
    ]
  }

  withName: "illumina_stats" {
    container = "file:///${params.common_dir_imgs}biopy_pysam_pandas.simg"
    cpus = 6
    clusterOptions = "-S /bin/bash -cwd -l mf=8G"
    publishDir = [
    [path: params.output_stats, mode: "copy"]
    ]
  }

  withName: "minimap2" {
    container = "file:///${params.common_dir_imgs}minim2_samtools.simg"
    cpus = 12
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_minimap2, mode: "copy"]
    ]
  }

  withName: "quality_bam_filter" {
    container = "file:///${params.common_dir_imgs}samtools.simg"
    cpus = 12
    clusterOptions = "-S /bin/bash -cwd -l mf=25G"
    publishDir = [
    [path: params.output_q21, mode: "copy"]
    ]
  }
  withName: "id_filt_reads"{
    cpus = 10
    clusterOptions = "-S /bin/bash -cwd -l mf=25G"
    publishDir = [
    [path: params.output_q21, mode: "copy"]
    ]
  }
  withName: "id_filt_reads_unique"{
    cpus = 10
    clusterOptions = "-S /bin/bash -cwd -l mf=25G"
    publishDir = [
    [path: params.output_q21, mode: "copy"]
    ]
  }
  withName: "host_filter_out" {
    container = "file:///${params.common_dir_imgs}biopy.simg"
    cpus = 10
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_hist_filt, mode: "copy"]
    ]
  }

  withName: "host_filtered_stats" {
    container = "file:///${params.common_dir_imgs}biopy_pysam_pandas.simg"
    cpus = 6
    clusterOptions = "-S /bin/bash -cwd -l mf=8G"
    publishDir = [
    [path: params.output_stats, mode: "copy"]
    ]
  }

  withName: "flye_assembly" {
    container = "file:///${params.common_dir_imgs}flye.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_flye, mode: "copy"]
    ]
  }
  withName: "medaka_cons" {
    container = "file:///${params.common_dir_imgs}medaka_dm_mic.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_medaka, mode: "copy"]
    ]
  }

  withName: "blastn_check" {
    container = "file:///${params.common_dir_imgs}blastn.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_blastn, mode: "copy"]
    ]
  }

  withName: "blastn_check_filt" {
    container = "file:///${params.common_dir_imgs}blastn.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_blastn, mode: "copy"]
    ]
  }

  withName: "blast_contig_selection" {
    container = "file:///${params.common_dir_imgs}biopy_pysam_pandas.simg"
    cpus = 8
    clusterOptions = "-S /bin/bash -cwd -l mf=5G"
    publishDir = [
    [path: params.output_blast_contig_selection, mode: "copy"]
    ]
  }

  withName: "pilon" {
    container = "file:///${params.common_dir_imgs}bwa_samtools_pilon.simg"
    cpus = 20
    clusterOptions = "-S /bin/bash -cwd -l mf=5G"
    publishDir = [
    [path: params.output_pilon, mode: "copy"]
    ]
  }
  withName: "rename_pilon_contigs" {
    container = "file:///${params.common_dir_imgs}biopy_pysam_pandas.simg"
    cpus = 8
    clusterOptions = "-S /bin/bash -cwd -l mf=5G"
    publishDir = [
    [path: params.output_pilon, mode: "copy"]
    ]
  }

  withName: "assembly_stats" {
    container = "file:///${params.common_dir_imgs}biopy_pysam_pandas.simg"
    cpus = 6
    clusterOptions = "-S /bin/bash -cwd -l mf=8G"
    publishDir = [
    [path: params.output_stats, mode: "copy"]
    ]
  }

}
