docker {
  enabled = false
}

// say to nextflow to execute the images without specifying it in the command line
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/nfs1/caliag"
}

trace {
  enabled = true
  fields = "task_id, native_id, hash, process, status, container, submit, duration"
}

params {
  name = "prefix_name_for_output_files"
  host_ref = "/path/to/the/host_reference_genome.fasta"
  basecalled = "/path/to/the/basecalled_reads.fastq (or fastq.gz)"
  symbiont_target_ref = "/path/to/the/symbiont_target_genome.fasta"
  r1 = "/path/to/reads_illumina_paired1.fastq.gz"
  r2 = "/path/to/reads_illumina_paired2.fastq.gz"
  host_filt_py = "path/to/file/for/host_genome_reads_filtration.py"
  contig_sel_py = "path/to/file/for/contig_selection_of_symbiont.py"
  output_minimap2 = "minimap2_mapping"
  output_q21 = "q_filtered"
  output_hist_filt = "host_filtered"
  output_flye = "flye_assembly"
  output_medaka = "medaka_consensus"
  output_blastn = "blastn_consensus"
  output_contig_selection = "contig_selection"
  output_pilon = "pilon"
  // output_pomoxis = "pomoxis_assembly_quality"
  // output_sam_md = "samtools_MD"
  // output_pomoxis_homopoly = "pomoxis_homopolymers"
  // output_pomoxis_err_catalogue = "pomoxis_err_catalogue"
}

process {
  // container = "file:///nfs1/caliag/singularity_imgs/assembly_sfw.simg"
  executor = "sge"
  penv = "smp"
  queue = "global.q"
  withName: "minimap2" {
    container = "file:///nfs1/caliag/singularity_imgs/minim2_samtools.simg"
    cpus = 12
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_minimap2, mode: "copy"]
    ]
  }

  withName: "quality_bam_filter" {
    container = "file:///nfs1/caliag/singularity_imgs/samtools.simg"
    cpus = 12
    clusterOptions = "-S /bin/bash -cwd -l mf=25G"
    publishDir = [
    [path: params.output_q21, mode: "copy"]
    ]
  }
  withName: "id_filt_reads"{
    cpus = 10
    clusterOptions = "-S /bin/bash -cwd -l mf=25G"
    publishDir = [
    [path: params.output_q21, mode: "copy"]
    ]
  }
  withName: "id_filt_reads_unique"{
    cpus = 10
    clusterOptions = "-S /bin/bash -cwd -l mf=25G"
    publishDir = [
    [path: params.output_q21, mode: "copy"]
    ]
  }
  withName: "host_filter_out" {
    container = "file:///nfs1/caliag/singularity_imgs/biopy.simg"
    cpus = 10
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_hist_filt, mode: "copy"]
    ]
  }
  withName: "flye_assembly" {
    container = "file:///nfs1/caliag/singularity_imgs/flye.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_flye, mode: "copy"]
    ]
  }
  withName: "medaka_cons" {
    container = "file:///nfs1/caliag/singularity_imgs/medaka_dm_mic.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_medaka, mode: "copy"]
    ]
  }

  withName: "blastn_check" {
    container = "file:///nfs1/caliag/singularity_imgs/blastn.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_blastn, mode: "copy"]
    ]
  }

  withName: "blastn_check_filt" {
    container = "file:///nfs1/caliag/singularity_imgs/blastn.simg"
    cpus = 15
    clusterOptions = "-S /bin/bash -cwd -l mf=50G"
    publishDir = [
    [path: params.output_blastn, mode: "copy"]
    ]
  }

  withName: "contig_selection" {
    container = "file:///nfs1/caliag/singularity_imgs/biopy_pysam_pandas.simg"
    cpus = 8
    clusterOptions = "-S /bin/bash -cwd -l mf=5G"
    publishDir = [
    [path: params.output_contig_selection, mode: "copy"]
    ]
  }

  withName: "pilon" {
    container = "file:///nfs1/caliag/singularity_imgs/bwa_samtools_pilon.simg"
    cpus = 20
    clusterOptions = "-S /bin/bash -cwd -l mf=5G"
    publishDir = [
    [path: params.output_pilon, mode: "copy"]
    ]
  }

  // withName: "bwa_round1" {
  //   container = "file:///nfs1/caliag/singularity_imgs/bwa.simg"
  //   cpus = 20
  //   clusterOptions = "-S /bin/bash -cwd -l mf=5G"
  //   publishDir = [
  //   [path: params.output_pilon, mode: "copy"]
  //   ]
  // }
  //
  // withName: "samtools_round1" {
  //   container = "file:///nfs1/caliag/singularity_imgs/samtools.simg"
  //   cpus = 20
  //   clusterOptions = "-S /bin/bash -cwd -l mf=5G"
  //   publishDir = [
  //   [path: params.output_pilon, mode: "copy"]
  //   ]
  // }
  //
  // withName: "pilon_round1" {
  //   container = "file:///nfs1/caliag/singularity_imgs/pilon_1.23--hdfd78af_3.simg"
  //   cpus = 20
  //   clusterOptions = "-S /bin/bash -cwd -l mf=5G"
  //   publishDir = [
  //   [path: params.output_pilon, mode: "copy"]
  //   ]
  // }

  // QUALITY CHECK
  // withName: "pomoxis_qual" {
  //   container = "file:///nfs1/caliag/singularity_imgs/pomoxis_mod.simg"
  //   // container = "file:///nfs1/michelettd/singularity_images/pomoxis.simg"
  //   cpus = 15
  //   clusterOptions = "-S /bin/bash -cwd -l mf=80G"
  //   publishDir = [
  //   [path: params.output_pomoxis, mode: "copy"]
  //   ]
  // }

  // withName: "pom_mini_align_md" {
  //   container = "file:///nfs1/caliag/singularity_imgs/pomoxis_mod.simg"
  //   cpus = 15
  //   clusterOptions = "-S /bin/bash -cwd -l mf=50"
  //   publishDir = [
  //   [path: params.output_pomoxis, mode: "copy"]
  //   ]
  // }

  // withName: "samtools_md" {
  //   container = "file:///nfs1/caliag/singularity_imgs/samtools.simg"
  //   cpus = 12
  //   clusterOptions = "-S /bin/bash -cwd -l mf=50G"
  //   publishDir = [
  //   [path: params.output_sam_md, mode: "copy"]
  //   ]
  // }

  // withName: "pom_homopoly" {
  //   container = "file:///nfs1/caliag/singularity_imgs/pomoxis_nested_mod_H.simg"
  //   cpus = 15
  //   clusterOptions = "-S /bin/bash -cwd -l mf=50G"
  //   publishDir = [
  //   [path: params.output_pomoxis_homopoly, mode: "copy"]
  //   ]
  // }

}
